# Файлы сборок
*.o
*.a
*.so
*.dll
*.exe
*.obj


# Файлы сборки проекта (CMake, Make)
build/
build_ninja/
out/
cmake-build-debug/
lib/

# Локальные файлы сборок
Debug/
Release/

# Временные файлы
*.swp
*.swo
*~

# Папки IDE
.vs/
.vscode/
*.iml
.idea/

# Файлы бин
bin/
*/bin/
**/bin/